<h1 class="text-center mb-4">Formulario de Registro</h1>

<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off" class="p-4 border rounded shadow bg-light">

                  <!-- Mensaje de éxito -->
                  <div *ngIf="formSubmitted" class="alert alert-success mt-3 text-center">
                    ¡Formulario enviado correctamente!
                  </div>

      <!-- Nombre -->
      <div class="mb-3">
        <label class="form-label fw-bold">Nombre</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Nombre del usuario">
        <div *ngIf="isValidField('name')" class="text-danger small mt-1">
          {{getFieldError('name')}}
        </div>
      </div>

      <!-- Apellidos -->
      <div class="mb-3">
        <label class="form-label fw-bold">Apellidos</label>
        <input
          type="text"
          class="form-control"
          formControlName="surname"
          placeholder="Apellidos del usuario">
        <div *ngIf="isValidField('surname')" class="text-danger small mt-1">
          Deben ser ambos apellidos
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label class="form-label fw-bold">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Email del usuario">
        <div *ngIf="isValidField('email')" class="text-danger small mt-1">
          Tiene que ser un email válido
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label class="form-label fw-bold">Contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Contraseña de su cuenta">
        <div *ngIf="isValidField('password')" class="text-danger small mt-1">
          La contraseña debe de ser mayor de 6 caracteres.
        </div>
      </div>

      <!-- Confirmar Contraseña -->
      <div class="mb-3">
        <label class="form-label fw-bold">Confirmar Contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="password2"
          placeholder="Confirmar la contraseña">
        <div *ngIf="isValidField('password2')" class="text-danger small mt-1">
          Las contraseñas deben de ser iguales
        </div>
      </div>

      <!-- Botón de registro -->
      <div class="d-grid">
        <button class="btn btn-primary fw-bold" type="submit">
          Registrar
        </button>
      </div>

    </form>
  </div>
</div>
